doctype html
head
    title #{__('Cookbook')} - #{title}
    meta(charset='utf-8')
    link(rel='stylesheet', href='/css/styles.css')
body
    header
        - var url = locale === defaultLocale ? '/' : `/${locale}/`;
        h1: a(href=url)= __('Cookbook')
    main: article
        - var availableLocales = locales.filter(x => x !== locale && !!lang(x));
        if availableLocales
            p.translations #{__('Also available in') + ' '}
                each lc, index in availableLocales
                    a(href=`/${lang(lc).path}`)= __(lc)
                    if index < availableLocales.length - 1
                        |,#{' '}
                |.
        h1= title
        != contents
        block extra
